<mat-divider></mat-divider>

<div class="footer-container">
    <div>
        <mat-toolbar class="footer">
            <div><a class="cinemoon" routerLink="/">Cinemoon</a></div>
            <div class="links">
                <a mat-button routerLink="/detailview/now-soon/now">Now</a>
                <a mat-button routerLink="/detailview/now-soon/soon">Soon</a>
                <a mat-button routerLink="/detailview/prices">Prices</a>
            </div>
        </mat-toolbar>
    </div>

    <div class="text-section">
        <div class="contact">
            <p>contact:</p>
            <p>Cinemoon</p>
            <p>Max Mustermann</p>
            <p>Musterstr. 14</p>
            <p>12345 Mustercity</p>
        </div>

        <div class="tmdb-logo">
            <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg"
                alt="test">
        </div>
    </div>
</div>