<form [formGroup]="guestForm" (change)="guestFormValid()">
    <mat-form-field>
        <mat-label>First name</mat-label>
        <input formControlName="firstname" required matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last name</mat-label>
        <input formControlName="lastname" required matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input formControlName="email" required matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Payment Options</mat-label>
        <select matNativeControl required formControlName="payment">
            <option value="Creditcard">Creditcard</option>
            <option value="On site">On Site</option>
        </select>
    </mat-form-field>
    <mat-form-field *ngIf="guestForm.get('payment').value === 'Creditcard'">
        <mat-label>Creditcard Number</mat-label>
        <input matInput required formControlName="creditcard">
        <mat-error *ngIf="!guestForm.get('creditcard').valid && guestForm.get('creditcard').touched">Please enter a
            valid
            creditcard number (16 digits) without space</mat-error>
    </mat-form-field>
</form>

<div class="previous-next-button-container">
    <button mat-stroked-button matStepperPrevious type="button">Back</button>
    <button mat-stroked-button matStepperNext type="button" [disabled]="!guestForm.valid"
        (click)="onSubmit()">Next</button>
</div>